Repository snippet-labs/LAB, pull requests merged in 2025-05, with the labels that each got.

#2 [PACKAGE] : Setup dependencies
  client/package.json
Labels: package

#3 [CLIENT] [ARCHITECTURE] Project structure
  .github/ISSUE_TEMPLATE/ISSUE.md
  .github/PULL_REQUEST_TEMPLATE.md
  client/public/logos/.gitkeep
  client/public/resources/.gitkeep
  client/public/resources/__underdev.gif
  client/src/components/General/.gitkeep
  client/src/components/Layout/Layout.styles.css
  client/src/components/Layout/Layout.tsx
  client/src/components/Layout/Layout.types.ts
  client/src/config/.gitkeep
  client/src/data/.gitkeep
  client/src/global.css
  client/src/hooks/.gitkeep
  client/src/pages/.gitkeep
  client/src/tests/.gitkeep
  client/src/tests/setup.ts
  client/src/types/.gitkeep
  client/src/utils/.gitkeep
  readme.md
Labels: client, update

#4 [CLIENT] [ARCHITECTURE] : Cleanup
  package.json
Labels: client, update

#5 [CLIENT] [DOCUMENTATION] : Update Readme file
  client/public/resources/__underdev.gif
  client/public/resources/__underdev.png
  readme.md
Labels: documentation, client

#12 [CLIENT] [COMPONENT] : Navigation bar in application
  client/index.html
  client/public/logos/__favicon.png
  client/src/App.tsx
  client/src/components/General/Footer/Footer.tsx
  client/src/components/General/NavigationBar/Navigation.styles.css
  client/src/components/General/NavigationBar/NavigationBar.tsx
  client/src/components/Layout/Layout.tsx
  client/src/data/NavigationLinks/NavigationLinks.ts
  client/src/data/NavigationLinks/NavigationLinks.types.ts
  client/src/global.css
  client/src/index.css
  client/src/utils/Loader/Loader.styles.css
  client/src/utils/Loader/Loader.tsx
  client/src/utils/Logo/Logo.tsx
  client/src/utils/Logo/Logo.types.tsx
Labels: client, component, functional

#16 [CLIENT] [HOOKS] : Route loader hook
  client/index.html
  client/src/App.tsx
  client/src/AppRoute.tsx
  client/src/components/Layout/Layout.tsx
  client/src/hooks/useRouterLoader.ts
Labels: client, logical, optimise
